@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,400&family=Domine:wght@600&display=swap');

:root{
    --main-bg-color: brown;
    --font1:font-family: 'Crimson Text', serif;
     --font2: 'Domine', serif;

}



.max-width1{
max-width: 80vw;
}

.max-width2{
    max-width: 60vw;
}
.font1{
font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}

.m-auto{
margin:auto;
}
.home-articles-content a{
    text-decoration: none;
    color:Black;    
}
.btn{
    font-size: 17px;
    padding: 11px 16px;
    margin:2px 5px;
    border-radius: 10px;
    cursor: pointer;
}

.form-input{
    padding: 8px 6px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 22px;

}


.my-2{


    margin-top:20px;
    margin-bottom:20px
}
