<!DOCTYPE html>
<html lang="en">

<head>
	<title>The Computer Science Society, St. Stephen College </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Fitness In Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- bootstrap-css -->
	<link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all" />

	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ url_for('static', filename='util.css')}}" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ url_for('static', filename='mobile.css')}}" type="text/css" media="all" />
	<!--// css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css')}}">
	<!-- font-awesome icons -->
	<link href="{{ url_for('static', filename='css/font-awesome.css')}}" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- font -->
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
		rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<!-- //font -->
	<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>

	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
</head>

<body>
	<!-- banner -->
	<div class="banner">
		<div class="address-info">
			<div class="container">
				<div class="address-info-text">
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> The Computer Science Society,St. Stephen College
						Delhi </p>
				</div>
			</div>
		</div>




		<div class="banner-info">
			<div class="banner-info-text">
				<div class="container">
					<div class="agileits-logo">
						<h1><a href="/">The Computer Science Society</a></h1>
					</div>
					<div class="w3-border"> </div>
					<div class="w3layouts-banner-info">
						<div class="w3ls-button">
							<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="header-top">
				<div class="container">
					<div class="header-top-info">
						<nav class="navbar navbar-default">






							<!-- Brand and toggle get grouped for better mobile display -->


							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
									data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>



							<!-- Collect the nav links, forms, and other content for toggling -->

							<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
								<nav>
									<ul class="nav navbar-nav">
										<li class="active"><a href="index.html">Home</a></li>
										<li><a href="#Articles" class="scroll">Articles</a></li>
										<li><a href="#about" class="scroll">About</a></li>
										<li><a href="#services" class="scroll">Events</a></li>
										<li><a href="#gallery" class="scroll">Photo Gallery</a></li>
										<li><a href="#team" class="scroll">Team</a></li>
										<li><a href="#news" class="scroll">News and Update </a></li>
										<li><a href="#mail" class="scroll">Contact Us</a></li>
									</ul>
								</nav>
							</div>


							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">The Computer Science Society <span>
				</div>
				<div class="modal-body">
					<div class="agileits-w3layouts-info">
						<img src="{{ url_for('static', filename='images/math3.jpg')}}" alt="" />
						<p>
							The Computer Science Society strives to extend beyond the conventional domains of computing through a series of multi-disciplinary events. 
							Most importantly, we wish to familiarize people with technology, 
							to increase digital literacy through fun events, talks, meme competitions, blogs, journal, and Instagram posts.
							We are dedicated to the promotion of the various facets of computing. We strive to promote gaming, technology, applications, programming, science, and fiction, inter alia. 
							We are a melange of people brought together by a common idea: Tech is the future.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->














	<!-- 	Blog -->
	<div class="about" id="Articles">
		<div class="container">
			<div class="agileits-heading">
				<h3>Articles</h3>
			</div>
			<!-- <div class="w3l-about-grids">
					<div class="col-md-6 w3ls-about-right">
					<div class="w3ls-about-right-img">

					</div>
				</div>
				<div class="col-md-6 w3ls-about-left"> -->






			<!-- <div class="agileits-icon-grid">

						<div class="icon-right">
							<a href="art.html">
								<h5>Aricle 1 </h5>
							</a>
							<p>Description about Article 1</p>
						</div>
						<div class="clearfix"> </div>
					</div>







					<div class="agileits-icon-grid">

						<div class="icon-right">
							<h5>Aricle 2 </h5>
							<p>Description about Article 1</p>
						</div>
						<div class="clearfix"> </div>
					</div>

					<div class="agileits-icon-grid">

						<div class="icon-right">
							<h5>Aricle 3 </h5>
							<p>Description about Article 1</p>
						</div>
						<div class="clearfix"> </div>
					</div>










					<div class="agileits-icon-grid">

						<div class="icon-right">
							<h5>Article 4</h5>
							<p>Description about Article 4</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="agileits-icon-grid">

						<div class="icon-right">
							<h5>Article 5</h5>
							<p>Description of article 5</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> -->
			<!-- //Blogt -->











































			<!--Blog format 2-->
			<div class="container">







				{%for Post in Posts%}
				{% set IMAGE= 'images/' +Post.ImgFile  %}
				<div class="home-article">
					<div class="home-article-image"><img src="{{ url_for('static', filename=IMAGE)}}"></div>
					<div class="home-articles-content">

						<!-- <a href="Post/{{Post.slug}}" target="_blank"> -->
						<a href="Post/{{Post.slug}}">
							<h3>{{Post.PostTitle}}</h3>
						</a>
						<div><span>Posted by {{Post.PostedBy}}</span></div>
						<span> {{Post.DT}}</span> <br>
						<span> {{Post.PostContent[0:55]}}....</span>
					</div>
				</div>



				{% endfor %}

				<!--blog2-->































				<!-- about -->

				<div class="about" id="about">
					<div class="container">
						<div class="agileits-heading">
							<h3>About Us</h3>
						</div>
						<div class="w3l-about-grids">
							<div class="col-md-6 w3ls-about-right">
								<div class="w3ls-about-right-img">

								</div>
							</div>
							<div class="col-md-6 w3ls-about-left">
								<div class="agileits-icon-grid">


									<p class="para"
										style="font-size:27px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
										The Computer Science Society is just a group of students who wonder what the epithet we are named after means - from the hardware to the software.
                                        We have pledged ( and signed digitally - once on the internet it remains on the internet ) to foster interest and creative expression of
										computational ideas of various forms - and making the process of learning an interesting and fun one.

									</p>

									<p class="para"
										style="font-size:27px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
										Whether it’s questions like - ‘ Why is RTX 3090 so expensive ?’ or ‘ Can you hear me ?’ over Google Meet or ‘ A system like a Matrix - will it ever be possible ?’ 
										We do our best to answer them and debunk those pesky myths - just by participating in our fun events.
                                        From music or gaming sessions to updates on technological advancements, learning about programming languages - an array of events for everyone.
										Or is quizzing your foray? maybe writing, watching movies, or being ambitious and how to use computer science for your favor - your every niche idea is fulfilled here.


									</p>
									<p class="para"
										style="font-size:27px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
										And whether it is just one click of a mouse or a touch of a screen - gives thousands of possibilities but how? How all these bits are interconnected to give ‘life’  to a machine we carry around. 
										And just like us they think, grow and die off - and we are here to thread between those lines.
                                        At the end of the day when the screens go black and the machines are put to recharge - we hope our events give people a chance to interact, learn, solve puzzles, grow and most of all have fun while doing it.


									</p>











								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- //about -->



				<!-- services -->
				<div class="services" id="services">
					<div class="container">
						<div class="agileits-heading">
							<h3>Events</h3>
						</div>
						<div class="wthree-services-grids">
							<div class="col-sm-3 wthree-services">
								<div class="wthree-services-grid">
									<div class="wthree-services-info">
										<i class="fa fa-money" aria-hidden="true"></i>
										<h4>Orfik</h4>
										<div class="w3ls-border"> </div>
									</div>
									<div class="wthree-services-captn">
										<h4>Orfik</h4>
										<p>
											This is one of our online events (a type of online Treasure Hunt) which we conduct on our society website and runs for 6 hours. 
											The participants are required to solve clues and unravel the questions. 
											Anyone anywhere can join in.This is an Open Competition where anyone on the internet using any resources available
											on the internet trying to solve it to win exciting cash prizes as well as bragging rights.
											It is hosted on our website and hints are given on Instagram handle. 

										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-3 wthree-services">
								<div class="wthree-services-grid">
									<div class="wthree-services-info">
										<i class="fa fa-comment-o" aria-hidden="true"></i>
										<h4>Game Face</h4>
										<div class="w3ls-border"> </div>
									</div>
									<div class="wthree-services-captn">
										<h4>Game Face</h4>
										<p>
											Gameface is a landmark event for the CompSoc in particular and the college in general.
											It is our annual and biggest event of this kind held on our campus.
											It goes on for an entire weekend with participation from colleges like IIT Delhi, DCE, NSIT, SRCC, HINDU and so on.
											The winners would receive cash prizes: 1st prize – 2nd prize—and consolation prizes 3rd and 4th. This scheme is valid for each game, separately.
											As these games are massively and predominantly popular amongst the youth, we expect to have a huge numbers of participants from all across the DU campus.

										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-3 wthree-services">
								<div class="wthree-services-grid">
									<div class="wthree-services-info">
										<i class="fa fa-user-o" aria-hidden="true"></i>
										<h4>Scavenger Hunt</h4>
										<div class="w3ls-border"> </div>
									</div>
									<div class="wthree-services-captn">
										<h4>Scavenger Hunt</h4>
										<p>
											Did you know that Sherlock Holmes was a dank memer? Haha got you he wasn’t a dank memer,
											but you could be memer and a detective simultaneously. If you think you have what it takes to be a detective memer ,
											test your skills at Scavenger hunt. Do what you like the most; look through the memes , scourge the internet and collect clues that will lead you to ultimate free real estate.
											It’s hidden out there on the internet .So get your gears up and join the hunt as mysterious memes await you out there .
											Shh  btw I won’t tell you the prize you’ll have to win it to know it.
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-3 wthree-services">
								<div class="wthree-services-grid">
									<div class="wthree-services-info">
										<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
										<h4>Evening Classes</h4>
										<div class="w3ls-border"> </div>
									</div>
									<div class="wthree-services-captn">
										<h4>Evening Classes</h4>
										<p>
											The scope of learning process is not just within  the boundaries of St.Stephen’s college .
											We believe that learning should not be limited to the walls of colleges and schools  .
											We have started an outreach initiative where we’ll be teaching basic computation and coding to underprivileged children . 
											This initiative will provide children with knowledge that will help them to keep up with the ever growing technological developments 
											and help them acquire skills much needed in the current scenario. SERVICE BEFORE SELF!

										</p>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="wthree-services-grids services-grids1">
							<div class="col-sm-3 wthree-services">
								<div class="wthree-services-grid">
									<div class="wthree-services-info">
										<i class="fa fa-bell-o" aria-hidden="true"></i>
										<h4>Discord Bot</h4>
										<div class="w3ls-border"> </div>
									</div>
									<div class="wthree-services-captn">
										<h4>Discord Bot</h4>
										<p>
											It's actually really fun to hang out on Discord with friends (if any) or random strangers, but what do you think makes it so fun? 
											Is it because it offers voice chat, video chat, or just simple text chats? I guess not, what makes it fun is that while doing all of the above 
											we can listen to music, watch live streams, play small games, and look at memes. All of this is made possible by bots, 
											and you know what the best part is? We'll show you how to create a working Discord bot. So gather your imagination and creativity and join us .
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-3 wthree-services">
								<div class="wthree-services-grid">
									<div class="wthree-services-info">
										<i class="fa fa-sun-o" aria-hidden="true"></i>
										<h4>Python Classes</h4>
										<div class="w3ls-border"> </div>
									</div>
									<div class="wthree-services-captn">
										<h4>Python Classes</h4>
										<p>
											Join us in learning one of the fastest growing programming languages . It’s a language that’s being updated constantly. 
											To keep you up with the high-paced world, we offer a course on basic python . The syllabus covered by us includes :
                                            1.) Print, Data Types, Python as calculator, String and related functions
                                            2.) Iteration and recursion
                                            3.) OOPS(Intro, Decorators, Constructors, Class, Objects, Method, Static)
                                            4.) Abstraction, Encapsulation, Inheritance, Polymorphism, Overriding, Getters, Setters
                                        </p>
									</div>
								</div>
							</div>
							<div class="col-sm-3 wthree-services">
								<div class="wthree-services-grid">
									<div class="wthree-services-info">
										<i class="fa fa-credit-card" aria-hidden="true"></i>
										<h4>Artificial Intelligence</h4>
										<div class="w3ls-border"> </div>
									</div>
									<div class="wthree-services-captn">
										<h4>Artificial Intelligence</h4>
										<p>
										Through these talks we can learn how AI can be applied in many different sectors and industries to generate the maximum output out of the operational front. 
										We can see many examples in the current time period like AI is being tested and used in the healthcare industry for dosing drugs,computers 
										that can play games like chess, and much more. Artificial intelligence has been on the rise, and it’s played a crucial role in helping individuals 
										and organizations do the impossible. In these talks you will be able to realise how awesome AI is and its boundlessness

									</p>
									</div>
								</div>
							</div>
							<div class="col-sm-3 wthree-services">
								<div class="wthree-services-grid">
									<div class="wthree-services-info">
										<i class="fa fa-bullhorn" aria-hidden="true"></i>
										<h4>Meme Making</h4>
										<div class="w3ls-border"> </div>
									</div>
									<div class="wthree-services-captn">
										<h4>Meme Making</h4>
										<p>This competition is for the ones cracking jokes and their library full of memes for every occasion. 
											Here we ask people to get creative with their meme skills. Each participant gets to combine their creativity with humor. 
											This competition is for everyone where they can take meme creation to the next level and grab this perfect opportunity to win exciting prizes.
											So, get your meme hats ready and hop on to create unique and intriguing works.If these are the thoughts that run through your mind 
											whenever you come across a trending meme - then my sire, you have arrived at the right platform to unleash the meme-lord within you.

										</p>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<!-- //services -->














				<!-- gallery -->
				<div id="gallery" class="gallery">
					<div class="container">
						<div class="agileits-heading">
							<h3>Photo Gallery</h3>
						</div>
						<div class="gallery-w3lsrow">
							<div class="col-sm-3 col-xs-4 gallery-grids">
								<div class="w3ls-hover">
									<a href="{{ url_for('static', filename='images/pg1.jpg')}}"
										data-lightbox="example-set">
										<img src="{{ url_for('static', filename='images/pg1.jpg')}}"
											class="img-responsive zoom-img" alt=""
											style=" height:380px; width:285px " />
										<div class="view-caption">
											<h5>Mathsoc open after Party</h5>
											<i class="fa fa-search-plus" aria-hidden="true"></i>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 gallery-grids">
							<div class="w3ls-hover">
								<a href="{{ url_for('static', filename='images/pg2.jpg')}}" data-lightbox="example-set">
									<img src="{{ url_for('static', filename='images/pg2.jpg')}}"
										class="img-responsive zoom-img" alt="" style=" height:380px; width:285px " />
									<div class="view-caption">
										<h5>Integeration</h5>
										<i class="fa fa-search-plus" aria-hidden="true"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 gallery-grids">
							<div class="w3ls-hover">
								<a href="{{ url_for('static', filename='images/pg3.jpg')}}" data-lightbox="example-set">
									<img src="{{ url_for('static', filename='images/pg3.jpg')}}"
										class="img-responsive zoom-img" alt="" style=" height:380px; width:285px " />
									<div class="view-caption">
										<h5>Blind fold cube solving</h5>
										<i class="fa fa-search-plus" aria-hidden="true"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 gallery-grids">
							<div class="w3ls-hover">
								<a href="{{ url_for('static', filename='images/pg4.jpg')}}" data-lightbox="example-set">
									<img src="{{ url_for('static', filename='images/pg4.jpg')}}"
										class="img-responsive zoom-img" alt="" style=" height:380px; width:285px " />
									<div class="view-caption">
										<h5>Youngest Mathsoc Participant</h5>
										<i class="fa fa-search-plus" aria-hidden="true"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 gallery-grids">
							<div class="w3ls-hover">
								<a href="{{ url_for('static', filename='images/pg9.jpg')}}" data-lightbox="example-set">
									<img src="{{ url_for('static', filename='images/pg9.jpg')}}"
										class="img-responsive zoom-img" alt="" style=" height:380px; width:285px " />
									<div class="view-caption">
										<h5>integeration</h5>
										<i class="fa fa-search-plus" aria-hidden="true"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 gallery-grids">
							<div class="w3ls-hover">
								<a href="{{ url_for('static', filename='images/pg6.jpg')}}" data-lightbox="example-set">
									<img src="{{ url_for('static', filename='images/pg6.jpg')}}"
										class="img-responsive zoom-img" alt="" style=" height:380px; width:285px " />
									<div class="view-caption">
										<h5>Lecture</h5>
										<i class="fa fa-search-plus" aria-hidden="true"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 gallery-grids">
							<div class="w3ls-hover">
								<a href="{{ url_for('static', filename='images/pg7.jpg')}}" data-lightbox="example-set">
									<img src="{{ url_for('static', filename='images/pg7.jpg')}}"
										class="img-responsive zoom-img" alt="" style=" height:380px; width:285px " />
									<div class="view-caption">
										<h5>Pictionary</h5>
										<i class="fa fa-search-plus" aria-hidden="true"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-4 gallery-grids">
							<div class="w3ls-hover">
								<a href="{{ url_for('static', filename='images/pg8.jpg')}}" data-lightbox="example-set">
									<img src="{{ url_for('static', filename='images/pg8.jpg')}}"
										class="img-responsive zoom-img" alt="" style=" height:380px; width:285px " />
									<div class="view-caption">
										<h5>Pictionary</h5>
										<i class="fa fa-search-plus" aria-hidden="true"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<!--  light box js -->
					<script src="{{ url_for('static', filename='js/lightbox-plus-jquery.min.js')}}"> </script>
					<!-- //light box js-->
				</div>
			</div>
			<!-- //gallery -->













			<!-- team -->
			<div id="team" class="team">
				<div class="container">
					<div class="agileits-heading">
						<h3>Our Team</h3>
					</div>
					<div class="teamw3-agileinfo">
						<div class="col-md-3 col-xs-6 team-wthree-grid">
							<div class="btm-right">
								<img src="{{ url_for('static', filename='images/Hitesh.jpg')}}" alt=" "
									style="height:350px">
								<div class="w3social-icons captn-icon">
									<ul>
										<li><a href="https://www.linkedin.com/in/hitesh-k-216496137" target=_BLANK><i
													class="fa fa-linkedin"></i></a></li>

									</ul>
								</div>
								<div class="captn">
									<h4>Pulkit</h4>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-xs-6 team-wthree-grid">
							<div class="btm-right">
								<img src="{{ url_for('static', filename='images/Bhavya.jpg')}}" alt=" "
									style="height:350px">
								<div class="w3social-icons captn-icon">
									<ul>
										<li><a href="https://www.linkedin.com/in/bhavya-agrawal-1a13b9170 "
												target=_BLANK><i class="fa fa-linkedin"></i></a></li>

									</ul>
								</div>
								<div class="captn">
									<h4>Vishal</h4>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-xs-6 team-wthree-grid">
							<div class="btm-right">
								<img src="{{ url_for('static', filename='images/Naomi.jpg')}}" alt=" "
									style="height:350px">
								<div class="w3social-icons captn-icon">
									<ul>
										<li><a href="https://www.linkedin.com/in/naomi-singh-006a35183" target=_BLANK><i
													class="fa fa-linkedin"></i></a></li>

									</ul>
								</div>
								<div class="captn">
									<h4>Sharon</h4>
								</div>
							</div>
						</div>


						<div class="col-md-3 col-xs-6 team-wthree-grid">
							<div class="btm-right">
								<img src="{{ url_for('static', filename='images/Angus.jpg')}}" alt=" "
									style="height:350px">
								<div class="w3social-icons captn-icon">
									<ul>
										<li><a href="https://www.linkedin.com/in/angus-alphonso" target=_BLANK><i
													class="fa fa-linkedin"></i></a></li>

									</ul>
								</div>
								<div class="captn">
									<h4>Harsh</h4>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>






			<div class="teamw3-agileinfo">
				<div class="col-md-3 col-xs-6 team-wthree-grid">
					<div class="btm-right">
						<img src="{{ url_for('static', filename='images/Athak.jpg')}}" alt=" " style="height:350px">
						<div class="w3social-icons captn-icon">
							<ul>
								<li><a href="https://www.linkedin.com/in/athak-kumar-singh-21a452197" target=_BLANK><i
											class="fa fa-linkedin"></i></a></li>

							</ul>
						</div>
						<div class="captn">
							<h4>Prashasti</h4>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 team-wthree-grid">
					<div class="btm-right">
						<img src="{{ url_for('static', filename='images/me.jpg')}}" alt=" " style="height:350px">
						<div class="w3social-icons captn-icon">
							<ul>
								<li><a href="https://www.linkedin.com/in/harsh-bindal-a394511a2" target=_BLANK><i
											class="fa fa-linkedin"></i></a></li>

							</ul>
						</div>
						<div class="captn">
							<h4> Ayan</h4>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 team-wthree-grid">
					<div class="btm-right">
						<img src="{{ url_for('static', filename='images/Vedanshi.jpg')}}" alt=" " style="height:350px">
						<div class="w3social-icons captn-icon">
							<ul>
								<li><a href="https://www.linkedin.com/in/vedanshi-tiwari-445a45194" target=_BLANK><i
											class="fa fa-linkedin"></i></a></li>

							</ul>
						</div>
						<div class="captn">
							<h4>Binit</h4>
						</div>
					</div>
				</div>


				<div class="col-md-3 col-xs-6 team-wthree-grid">
					<div class="btm-right">
						<img src="{{ url_for('static', filename='images/Jatin.jpg')}}" alt=" " style="height:350px" x>
						<div class="w3social-icons captn-icon">
							<ul>
								<li><a href="https://www.linkedin.com/in/jatin-talreja-685861197" target=_BLANK><i
											class="fa fa-linkedin"></i></a></li>

							</ul>
						</div>
						<div class="captn">
							<h4>Abhijeet</h4>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>








				<div class="teamw3-agileinfo">
					<div class="col-md-3 col-xs-6 team-wthree-grid">
						<div class="btm-right">
							<img src="{{ url_for('static', filename='images/Bhanu.jpg')}}" alt=" " style="height:350px">
							<div class="w3social-icons captn-icon">
								<ul>
									<li><a href="https://www.linkedin.com/in/bhanu-jain-834578179" target=_BLANK><i
												class="fa fa-linkedin"></i></a></li>

								</ul>
							</div>
							<div class="captn">
								<h4>Divye</h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 team-wthree-grid">
						<div class="btm-right">
							<img src="{{ url_for('static', filename='images/Shashyank.jpg')}}" alt=" "
								style="height:350px">
							<div class="w3social-icons captn-icon">
								<ul>
									<li><a href="https://www.linkedin.com/in/shayanak-kundu-b740a0190 " target=_BLANK><i
												class="fa fa-linkedin"></i></a></li>

								</ul>
							</div>
							<div class="captn">
								<h4>Joel</h4>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 team-wthree-grid">
						<div class="btm-right">
							<img src="{{ url_for('static', filename='images/Prakash.jpg')}}" alt=" "
								style="height:350px">
							<div class="w3social-icons captn-icon">
								<ul>
									<li><a href="https://www.linkedin.com/in/prakash-joshi-0878491a0" target=_BLANK><i
												class="fa fa-linkedin"></i></a></li>

								</ul>
							</div>
							<div class="captn">
								<h4>Gauravi</h4>
							</div>
						</div>
					</div>


					<div class="col-md-3 col-xs-6 team-wthree-grid">
						<div class="btm-right">
							<img src="{{ url_for('static', filename='images/Riya.jpg')}}" alt=" " style="height:350px">
							<div class="w3social-icons captn-icon">
								<ul>
									<li><a href="https://www.linkedin.com/in/riya-garg-205b95192" target=_BLANK><i
												class="fa fa-linkedin"></i></a></li>

								</ul>
							</div>
							<div class="captn">
								<h4>Kanupriya</h4>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>



					<div class="teamw3-agileinfo">
						<div class="col-md-3 col-xs-6 team-wthree-grid">
							<div class="btm-right">
								<img src="{{ url_for('static', filename='images/Joseph.jpg')}}" alt=" "
									style="height:350px">
								<!-- <div class="w3social-icons captn-icon">
					<ul>
						<li><a href=""><i class="fa fa-linkedin"></i></a></li>
					
					</ul>
				</div> -->
								<div class="captn">
									<h4>Rayyan</h4>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-xs-6 team-wthree-grid">
							<div class="btm-right">
								<img src="{{ url_for('static', filename='images/Esha.jpg')}}" alt=" "
									style="height:350px">
								<div class="w3social-icons captn-icon">
									<ul>
										<li><a href="https://www.linkedin.com/in/esha-chandra-808ba5196"><i
													class="fa fa-linkedin"></i></a></li>

									</ul>
								</div>
								<div class="captn">
									<h4>Rudraksha</h4>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>












			<!-- //team -->





























			<!-- news -->
			<div class="news" id="news">
				<div class="container">
					<div class="agileits-heading">
						<h3>News & Updates</h3>
					</div>
					<div class="news-agileinfo">
						<div class="col-md-4 news-right agileits-w3layouts">





							<h4>Our Achievements</h4>
							<div class="achievesw3-agile">
								<ul>
									<li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Bezerka get more than
										500 regs.</li>

									<li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mathopolis got a big
										event
									</li>
									<li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Mathsoc open get
										this this htis
										gravida mi dui. </li>
									<li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Sitid auctor
										donec neque.</li>
									<li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Lorem ipsum
										dolor sit amet.</li>
									<li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Donec tempor
										odio vitae.</li>
									<li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Phasellus
										gravida mi dui. </li>
									<li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Sitid auctor
										donec neque.</li>
									<li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Donec neque
										sitid auctor.</li>
								</ul>


 

							</div>
						</div>
						<div class="col-md-8 news-w3row">
							<div class="wthree-news-grids">
								<div class="col-md-3 col-xs-3 datew3-agileits">
									<img src="{{ url_for('static', filename='images/ts1.jpg')}}" class="img-responsive"
										alt="" />
								</div>
								<div class="col-md-9 col-xs-9 datew3-agileits-info ">
									<h5><a href="#" data-toggle="modal" data-target="#myModal"> Integration from 21st March to 25th March
										</a></h5>
									<h6>20/02/2021</h6>
									<p>Integeration is our Annual Fest in which we held a bunch of events including Mathopolis, Gusstimate, Sillician Fued etc.</p>
								</div>
								<a href=https://linktr.ee/mathsoc.ssc> Click here for register</a>
								<div class="clearfix"> </div>
							</div>
							<div class="wthree-news-grids news-grids-mdl">
								<div class="col-md-3 col-xs-3 datew3-agileits datew3-agileits-fltrt">
									<img src="{{ url_for('static', filename='images/ts2.jpg')}}" class="img-responsive"
										alt="" />
								</div>
								<div class="col-md-9 col-xs-9 datew3-agileits-info datew3-agileits-info-fltlft">
									<h5><a href="#" data-toggle="modal" data-target="#myModal">SHAKH I MAT ARENA									</a></h5>
									<h6>20/02/2021</h6>
									<p>This is a chess competetion in which you can win prize of 3000 RS. so what are you 
										waiting for <a href=http://tiny.cc/form_shakhimat> Click here</a> and register 

									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="wthree-news-grids">
								<div class="col-md-3 col-xs-3 datew3-agileits">
									<img src="{{ url_for('static', filename='images/ts3.jpg')}}" class="img-responsive"
										alt="" />
								</div>
								<div class="col-md-9 col-xs-9 datew3-agileits-info ">
									<h5><a href="#" data-toggle="modal" data-target="#myModal"> Waiting for something Big and academics...
										</a></h5>
									<h6>21/02/2021</h6>
									<p>The Symposium will going to be held very soon so just saty tuned.....
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- //news -->



























































			<!-- contact -->


			<div class="contact" id="mail">
				<div class="container">
					<div class="agileits-heading">
						<h3>Contact Us</h3>
					</div>
					<div class="contact-w3ls-row">
						<div class="w3agile-map">





							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3500.1551423345177!2d77.21133951456078!3d28.685005388456123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd93efe5376b%3A0x87e7248a72724203!2sSt%20Stephen&#39;s%20College!5e0!3m2!1sen!2sin!4v1602924040304!5m2!1sen!2sin"
								allowfullscreen=""></iframe>
						</div>
						<div class="wthree-contact-form">
							<!-- <form action="#" method="post">
						<div class="col-md-5 col-sm-5 agileits-contact-right">
							<textarea name="Message" placeholder="Message" required=""></textarea>
						</div>
						<div class="col-md-7 col-sm-7 agileits-contact-left">
							<input type="text" name="First Name" placeholder="First Name" required="">
							<input type="text" class="email" name="Last Name" placeholder="Last Name" required="">
							<input type="text" name="Number" placeholder="Mobile Number" required="">
							<input type="email" class="email" name="Email" placeholder="Email" required="">
							<input type="submit" value="SUBMIT">
						</div>
						<div class="clearfix"> </div>
					</form> -->
						</div>
					</div>
				</div>
			</div>



			<!-- contact -->
			<!-- footer -->
			<div class="footer">
				<div class="container">


					<div class="agile_footer_copy">
						<div class="w3agile_footer_grids">
							<div class="col-md-4 w3agile_footer_grid">
								<h3>About Us</h3>
								<p>The Computer Science Society, a.k.a. CompSoc. We are a bunch of geeks
									set out to make the ever-evolving world of Information Technology more enjoyable,
									and understandable for everyone. The society began in 1991 when a group of students from the College came together
									to share their love for technology with the world.
									It has been our agenda to profess that computing is beyond writing complex code.</p>
							</div>
							<div class="col-md-4 w3agile_footer_grid">
								<h3>Contact Info</h3>
								<ul>
									<li><i class="fa fa-map" aria-hidden="true"></i> St.Stephen College,
										<span>Delhi.</span>
									</li>
									<li><i class="fa fa-envelope" aria-hidden="true"></i> <a
											href="mailto:mathsoc.ssc@gmail.com">mathsoc.ssc@gmail.com</a></li>
									<li><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +91-7065704907
									</li>
								</ul>
							</div>
							<div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
								<h3>Navigation</h3>
								<ul>
									<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#about"
											class="scroll">About</a></li>
									<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#services"
											class="scroll">Events</a></li>
									<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#gallery"
											class="scroll">Photo Gallery</a></li>
									<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#team"
											class="scroll">Team</a></li>
									<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#news"
											class="scroll">News</a></li>
									<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="#mail"
											class="scroll">Contact</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="w3_agileits_copy_right_social">
						<div class="agileits_w3layouts_copy_right">
							<p>&copy; 2021 The Computer Science Society. All rights reserved
							</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
























			<!-- //footer -->
			<script src="{{ url_for('static', filename='js/jarallax.js')}}"></script>
			<script src="{{ url_for('static', filename='js/SmoothScroll.min.js')}}"></script>
			<script type="text/javascript">
				/* init Jarallax */
				$('.jarallax').jarallax({
					speed: 0.5,
					imgWidth: 1366,
					imgHeight: 768
				})
			</script>
			<script src="{{ url_for('static', filename='js/responsiveslides.min.js')}}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js')}}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js')}}"></script>
			<!-- here stars scrolling icon -->
			<script type="text/javascript">
				$(document).ready(function () {
					/*
						var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
						};
					*/

					$().UItoTop({ easingType: 'easeOutQuart' });

				});
			</script>
			<!-- //here ends scrolling icon -->
			<!-- Tabs-JavaScript -->
			<!-- stats -->
			<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
			<script src="{{ url_for('static', filename='js/jquery.countup.js')}}"></script>
			<script>
				$('.counter').countUp();
			</script>
			<!-- //stats -->
</body>

</html>